DERIVATIONPATH="m/44'/145'/0'/0/0"

#Your wallet seed phrase
SEEDPHRASE=""

#Fungible CashTokens category to be airdropped
TOKENID_FUNGIBLE=""

#BCH amount in satoshi per address if BCH is airdropped instead of CashTokens
SATS_AMOUNT=

#Op_Return message
OP_RETURN=""

#Airdrop fungible CashTokens to NFT category holders
TOKENID_NFTS=""
AIRDROP_AMOUNT_TO_NFT=

#Airdrop fungible CashTokens to fungible CashTokens category holders
TOKENID_FT=""
AIRDROP_AMOUNT_TO_FT=